<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- sidebar starts -->
    <div class="sidebar">
      <div class="sidebarOption active">
        <span class="material-icons"> home </span>
        <h2>Home</h2>
      </div>

      <form class="sidebarOption" METHOD="POST" ACTION="/navprofile">
        <span class="material-icons"> perm_identity </span>
        <button type="submit">Profile</button>
      </form>

      <form class="sidebarOption" METHOD="POST" ACTION="/logout">
        <span class="material-icons"> logout </span>
        <button type="submit">Log out</button>
      </form>
    </div>

    <!-- sidebar ends -->

    <!-- feed starts -->
    <div class="feed">
      <div class="feed__header">
        <h2>Home</h2>
      </div>

      <!-- tweetbox starts -->
      <div class="tweetBox">
        <form METHOD="POST" ACTION="/post" enctype="multipart/form-data" >
          <div class="tweetbox__input">
            <img src={{.curProfileimg}} alt=""/>
            <textarea type="text" cols="40" rows="5" placeholder="What's happening?" name="content"></textarea>
          </div>
          <div class="uploaded_pics">
            <img id="preview" />
          </div>
          <div class="tweetbox__btn">
            <input type="file" id="selectedFile" accept=".jpg, .jpeg, .png" name="postimg" style="display: none;">
            <input type="button" class="tweetBox__imgButton" value="Upload" onclick="document.getElementById('selectedFile').click();" />
            <button type="submit" class="tweetBox__tweetButton" id="send">Send</button>
          </div>
        </form>
      </div>
      <!-- tweetbox ends -->

      <!-- post starts -->
      <div class="posts">
        {{ range $post := .posts }}
        <div class="post">
          <div class="post__avatar">
            <img src={{.Profileimg}} alt=""/>
          </div>

          <div class="post__body">
            <div class="post__header">
              <div class="post__headerText">
                <h3>{{ .Profilename }}<span class="post__headerSpecial"><span class="material-icons post__badge"> verified </span><span class="post__username">@{{ .Username }}</span>．<span class="time">{{.Time}}</span></span></h3>
              </div>
              <div class="post__headerDescription">
                <span style="white-space: pre-line">{{ .Text }}</span>
              </div>
            </div>
            {{ if .Img }}
            <img src={{ .Img }} alt=""/>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <!-- post ends -->
    </div>
    <!-- feed ends -->

    <!-- widgets starts -->
    <div class="widgets">
      <form METHOD="POST" ACTION="/search">
        <div class = "widgets__input">
          <span class="material-icons widgets__searchIcon"> search </span>
          <input type="text" name="username" placeholder="Search Users"/>
        </div>
      </form>
    </div>
    <!-- widgets ends -->
  </body>
</html>

<script src="../assets/js/index.js"></script>
